@model dynamic

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}


<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">

          <div class="x_content">

            <div class="col-md-9 col-sm-9 col-xs-12">
              <div>
                <!-- end of user messages -->
                <ul class="messages">
                  <li>
                    <img src="~/gentela-gh-pages/production/images/img.jpg" class="avatar" alt="Avatar">
                    <div class="message_wrapper">
                      <h4 class="heading">Desmond Davison</h4>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="district">Harcanan: 
                        </label>
                        <div class="col-md-2">
                          <input id="district" class="form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                      </div>
                      <br />
                    </div>
                  </li>
                </ul>
                <!-- end of user messages -->


              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

